[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/cutest"]
	path = third_party/cutest
	url = https://github.com/qgymib/cutest.git
